html, body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    line-height: 0;
}

.card {
    display: inline-block;
    background-color: grey;
    width: 25%;
    border: 10px solid white;
    height: 25%;
    cursor: pointer;
    transition: all 1s;
    border-radius: 40px;
}
